#background {
    color : #a50e0e;
}

.inputfile {
    width : 0.1px;
    height: 0.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1;
    border-style : dotted;
}

.inputfile + label{
    font-size:1.25em;
    font-family:Quicksand;
    color : var(--base-navbar-text-color);
    display:inline-block;
    cursor:pointer;

    -webkit-translation-duration : 0.3s;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: white;
}