<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if replays %}
        <ul>
        {% for replay in replays %}
            <li><a href="{{ replay.replayfile.url }}">{{ replay.replayfile.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents found.</p>
    {% endif %}

       
    </body>
</html> 